@model auctionwebsite.Models.Cate

@{
    ViewBag.Title = "Khởi tạo";
    Layout = "~/Views/Shared/admin_layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cate</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="control-label col-md-2">Tên danh mục con</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CateName)
                @Html.ValidationMessageFor(model => model.CateName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Danh mục cha</div>
            <div class="col-md-10">
                @Html.DropDownList("CateparentID", String.Empty)
                @Html.ValidationMessageFor(model => model.CateparentID, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>
