@model auctionwebsite.Models.User

@{
    ViewBag.Title = "Chỉnh sửa";
    Layout = "~/Views/Shared/user_layout.cshtml";
}
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")">Trang chủ</a> <span class="divider">/</span></li>
        <li><a href="@Url.Action("Summary","User")">Tài khoản</a> <span class="divider">/</span></li>
        <li class="active">Chỉnh sửa tài khoản</li>
    </ul>
    </ul>
    <h3>Chỉnh sửa</h3>
    <hr class="soft" />
    <div class="well">
        @if (ViewBag.Errormsg != null)
        {
            <div class="alert alert-error">
                @ViewBag.Errormsg
            </div>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.UserID)
            <div class="form-horizontal">
                <h4>Tài khoản</h4>
                @Html.ValidationSummary(true)
                <div class="control-group">
                    <label class="control-label" for="inputPassword1">Nhập mật khẩu cũ  <sup>*</sup></label>
                    <div class="controls">
                        @Html.PasswordFor(model => model.OldPassword, new { @placeholder = "Nhập mật khẩu cũ" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword1">Mật khẩu mới <sup>*</sup></label>
                    <div class="controls">
                        @Html.PasswordFor(model => model.UserPassword, new { @placeholder = "Nhập mật khẩu" })
                        @Html.ValidationMessageFor(model => model.UserPassword, null, new { @class = "alert-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword1">Nhập lại mật khẩu mới <sup>*</sup></label>
                    <div class="controls">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @placeholder = "Nhập lại mật khẩu mới" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "alert-error" })
                    </div>
                </div>
                <div hidden class="control-group">
                    <div class="controls">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="input_email">Email  <sup>*</sup></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.UserEmail, new { @placeholder = "Nhập Email" })
                        @Html.ValidationMessageFor(model => model.UserEmail, null, new { @class = "alert-error" })
                    </div>
                </div>
                <h4>Thông tin cá nhân</h4>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Họ<sup>*</sup></label>
                    <div class="controls">
                        @Html.EditorFor(model => model.UserFirstName)
                        @Html.ValidationMessageFor(model => model.UserFirstName)
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputLname">Tên  <sup>*</sup></label>
                    <div class="controls">
                        @Html.EditorFor(model => model.UserLastName)
                        @Html.ValidationMessageFor(model => model.UserLastName)
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputLname">Ngày sinh  <sup>*</sup></label>
                    <div class="controls">
                        @Html.EditorFor(model => model.UserDOB, new { @class = "datepicker" })
                        @Html.ValidationMessageFor(model => model.UserDOB)
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="address">Địa chỉ  <sup></sup></label>
                    <div class="controls">
                        @Html.EditorFor(model => model.UserAddress)
                        @Html.ValidationMessageFor(model => model.UserAddress)
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="address">Thành phố  <sup></sup></label>
                    <div class="controls">
                        @Html.EditorFor(model => model.UserCity)
                        @Html.ValidationMessageFor(model => model.UserCity)
                    </div>
                </div>
                <p><sup>*</sup>Các trường cần thiết phải nhập</p>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Chỉnh sửa" class="btn btn-large btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>
    </div>
</div></div>

@section Scripts
{
    <script type="text/javascript">
        $('.datepicker').datetimepicker({
            timepicker: false,
            formatDate: 'd.m.Y'
        });
    </script>
}

