@model auctionwebsite.Models.ForgotPassword

@{
    ViewBag.Title = "Khởi tạo mật khẩu";
    Layout = "~/Views/Shared/home_layout.cshtml";
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href='@Url.Action("Index","Home")'>Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Quên mật khẩu</li>
    </ul>
    <h3> Quên mật khẩu </h3>
    <div class="well">
        @if (ViewBag.Successmsg != null)
        {
         <div class="alert alert-success">
          @ViewBag.Successmsg
          </div>
        }
        @if (ViewBag.Errormsg != null)
        {
            <div class="alert alert-success">
                @ViewBag.Errormsg
            </div>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="control-group">
                </div>
                @Html.ValidationSummary(true)
                <div class="control-group">
                    <label class="control-label" for="inputLnam">Nhập Email  <sup>*</sup></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.UserEmail, new { @placeholder = "Nhập Email" })
                        @Html.ValidationMessageFor(model => model.UserEmail, null, new { @class = "alert-error" })
                    </div>
                </div>
                <p><sup>*</sup>Mật khẩu mới sẽ được gởi về địa chỉ Email của bạn </p>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Yêu cầu" class="btn btn-large btn-success" />
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("Quên mật khẩu", "ForgotPassword", "User")
        </div>
    </div>
</div>