@model IEnumerable<auctionwebsite.Models.User>

@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Views/Shared/admin_layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Tên tài khoản</th>
                        <th>Email</th>
                        <th>Quyền hạn</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="odd gradeX">
                            <td><a href='@Url.Action("Details", "User", new { id=item.UserID })'>@item.UserName</a></td>
                            <td>@Html.DisplayFor(modelItem=>item.UserEmail)</td>
                            @if(item.UserLevel==0)
                            {
                                <td>User</td>
                            }
                            @if(item.UserLevel==1)
                            {
                                <td>Admin</td>
                            }
                            @if (item.UserLevel == 2)
                            {
                                <td>Super Admin</td>
                            }
                            <td><a href="@Url.Action("UserEdit", "Admin", new { id=item.UserID})">Chỉnh sửa</a></td>
                            <td>@Html.ActionLink("Xóa", "Delete", new { id = item.UserID })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>