@model auctionwebsite.Models.LoginUser

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/home_layout.cshtml";
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href='@Url.Action("Index","Home")'>Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Đăng nhập</li>
    </ul>
    <h3> Đăng nhập </h3>
    <div class="well">
        @if (ViewBag.Errormsg != null) { 
        <div class="alert alert-error">
           @ViewBag.Errormsg
        </div>
        }
        @if (TempData["message"] != null)
        {
        <div class="alert alert-success">
         @TempData["message"]
        </div>
         }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="control-group">
                </div>
                @Html.ValidationSummary(true)
                <div class="control-group">
                    <label class="control-label" for="inputLnam">Tài khoản  <sup>*</sup></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Username, new { @placeholder = "Nhập tài khoản" })
                        @Html.ValidationMessageFor(model => model.Username, null, new { @class = "alert-error" })
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputPassword1">Mật khẩu  <sup>*</sup></label>
                    <div class="controls">
                        @Html.PasswordFor(model => model.Password, new { @placeholder = "Nhập mật khẩu" })
                        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "alert-error" })
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        @Html.CheckBoxFor(model=>model.Remember) Lưu
                    </div>
                    </div>
                <p><sup>*</sup>Các trường cần thiết phải nhập</p>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Đăng nhập" class="btn btn-large btn-success" />
                    </div>
                </div>
            </div>
                }
    </div>
</div>