@model auctionwebsite.Models.Cateparent

@{
    ViewBag.Title = "Sửa";
    Layout = "~/Views/Shared/admin_layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CateparentID)
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="control-label col-md-2">Tên danh mục</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CateparentName)
                @Html.ValidationMessageFor(model => model.CateparentName, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sửa" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở lại danh sách", "Index")
</div>
