
@model auctionwebsite.Models.Product
@using auctionwebsite.Helpers


<div id="gallery" class="span3">
    <a href="~/Img/@(Model.ProductID+"_"+Model.ProductPicName)" title="@Model.ProductName">
        <img src="~/Img/@(Model.ProductID+"_"+Model.ProductPicName)" style="width:100%" alt="@Model.ProductName" />
    </a>
    <div id="differentview" class="moreOptopm carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                @foreach (var item in Model.FileDetails)
                {
                    <a href="~/Img/@(Model.ProductID+"_"+item.FileDetailID+"_"+item.FileName)"> <img style=" width: 75px; height: 75px" src="~/Img/@(Model.ProductID+"_"+item.FileDetailID+"_"+item.FileName)" alt="" /></a>
                }
            </div>
            <div class="item">
                @foreach (var item in Model.FileDetails)
                {
                    <a href="~/Img/@(Model.ProductID+"_"+item.FileDetailID+"_"+item.FileName)"> <img style=" width:29%" src="~/Img/@(Model.ProductID+"_"+item.FileDetailID+"_"+item.FileName)" alt="" /></a>
                }
            </div>
        </div>

    </div>
</div>
<div class="span6">
    <h3>
        @Model.ProductName 
         <span class="btn">
        @if (CurrentContext.IsLogged() == false)
        {
            <i id="UnLikeButton" class="icon-star"></i>
        }
        else
        {
            <i id="LikeButton" class="icon-star"></i>
        }

    </span>
</h3>
<h4><a href="@Url.Action("Details", "User", new { id=Model.UserID })">@Model.User.UserName</a></h4>
<div class="btn-toolbar">
    <div class="btn-group">
        @if(CurrentContext.IsLogged() == true)
        { 
        <a href="#like" class="btn" data-toggle="modal" ><i class="icon-thumbs-up"></i>@Model.User.RateTargetUser.Where(p => p.RateStatus == 0).Count()</a>
        <div id="like" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Nhận xét người dùng (Đánh giá tích cực)</h3>
            </div>
            <div class="modal-body">
                    <div class="control-group">
                        <input type="text" id="inputTxt" placeholder="Ghi nhận xét vào đây">
                    </div>
                <button id="rateLike" type="submit" class="btn btn-success">Gửi</button>
            </div>
        </div>
        <a href="#dislike" class="btn" data-toggle="modal"><i class="icon-thumbs-down"></i>@Model.User.RateTargetUser.Where(p => p.RateStatus == 1).Count()</a>
        <div id="dislike" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Nhận xét người dùng ( Đánh giá không tích cực )</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <input type="text" id="inputDisLikeTxt" placeholder="Ghi nhận xét vào đây">
                </div>
                <button id="rateDisLike" type="submit" class="btn btn-success">Gửi</button>
            </div>
        </div>
        }
        else
        {
            <button id="unlograteLike" class="btn" data-toggle="modal"><i class="icon-thumbs-up"></i>@Model.User.RateTargetUser.Where(p => p.RateStatus == 0).Count()</button>
            <button id="unlograteDisLike" class="btn" data-toggle="modal"><i class="icon-thumbs-down"></i>@Model.User.RateTargetUser.Where(p => p.RateStatus == 1).Count()</button>
        }
        </div>
</div>
<hr class="soft" />
<div class="control-group">
    <h4>Giá hiện tại :</h4>
    <h3>@Model.ProductPrice đồng</h3>
    <div class="input-group">
        <span class="input-group-addon">Đặt đấu giá</span>
        <input id="bidPrice" type="text" value="@(Model.ProductPrice+Model.ProductTickSize)" class="form-control" aria-label="Amount (to the nearest dollar)" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>VNĐ
        @if (CurrentContext.IsLogged() == true)
        {
            @Html.TextBoxFor(model => model.UserID, new { @Value = @CurrentContext.GetCurUser().UserID, style = "display: none;" })
            @Html.TextBoxFor(model => model.ProductID, new { @Value = @Model.ProductID, style = "display: none;" })
            @Html.TextBoxFor(model => model.ProductPrice, new { @Value = @Model.ProductPrice, style = "display: none;" })
        }
        @if (CurrentContext.IsLogged() == false)
        {
            if(@Model.ProductStatus == 3)
            {
            <button disabled id="unbidButton" class="btn btn-large btn-primary pull-right"> Đấu giá</button>
            }
            else { 
            <button id="unbidButton" class="btn btn-large btn-primary pull-right"> Đấu giá</button>
            }
        }
        else
        {
            if (CurrentContext.IsLogged() == true)
            {
                if(CurrentContext.GetCurUser().UserID==@Model.UserID || Model.ProductStatus==3)
                {
                      <button disabled id="bidButton" class="btn btn-large btn-primary pull-right"> Đấu giá</button>
                }
                else
                {
                     <button id="bidButton" class="btn btn-large btn-primary pull-right"> Đấu giá</button>
                }
            }
        }
    </div>
</div>
<hr class="soft" />
<h4>Có <a href="#list" role="button" data-toggle="modal" style="padding-right:0">@Model.Biddings.Where(p=>p.BidStatus==0).Select(i => i.UserID).Distinct().Count()</a> người tham gia phiên đấu giá</h4>
    <div id="list" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false">
        <table class="table table-bordered">
            <thead>
                @if (CurrentContext.IsLogged() == true)
                { 
                    if(CurrentContext.GetCurUser().UserID==@Model.UserID)
                    { 
                <tr>
                    <th>STT</th>
                    <th>Username</th>
                    <th>Ra giá</th>
                    <th>Thời gian</th>
                    <th>Hành động</th>
                </tr>
                   }
                   if(CurrentContext.GetCurUser().UserID!=@Model.UserID)
                   {
                  <tr>
                    <th>STT</th>
                    <th>Username</th>
                    <th>Ra giá</th>
                    <th>Thời gian</th>
                </tr>
                   }
                }
                @if (CurrentContext.IsLogged() == false)
                {
                  <tr>
                    <th>STT</th>
                    <th>Username</th>
                    <th>Ra giá</th>
                    <th>Thời gian</th>
                </tr>
                }

            </thead>
        
                @{
                    var stt = 1;
                }
                @foreach (var item in @Model.Biddings)
                {
                    var temp = item.User.UserName;
                    temp = (temp.Substring(0, temp.Length - 3) + "***");
                    if(CurrentContext.IsLogged()==true)
                    { 
                         if(CurrentContext.GetCurUser().UserID==@Model.UserID && item.BidStatus!= 1)
                         { 
                    <tr>
                     <th>@stt</th>
                     <th><a href="@Url.Action("Details", "User", new { id=item.UserID })">@item.User.UserName</a></th>
                     <th>@item.ProductBid VNĐ</th>
                     <th>@item.DateBid</th>
                      <th>
                          <button id="deleteUser" data-id="@item.UserID"><i class="icon-remove icon-white"></i></button>
                      </th>
                   </tr>
                         }
                         if(CurrentContext.GetCurUser().UserID!=@Model.UserID && item.BidStatus!= 1)
                         {
                      <tr>
                         <th>@stt</th>
                         <th>@temp</th>
                         <th>@item.ProductBid VNĐ</th>
                         <th>@item.DateBid</th>
                       </tr>
                         }
                    }

                    if (CurrentContext.IsLogged() == false && item.BidStatus != 1)
                    {
                        <tr>
                         <th>@stt</th>
                        <th>@temp</th>
                         <th>@item.ProductBid VNĐ</th>
                         <th>@item.DateBid</th>
                       </tr>
                    }
                    stt++;
                }    
            <tbody>
            </tbody>
        </table>
</div>
    <form class="form-horizontal qtyFrm">
        @if(Model.ProductStatus == 1)
        {
         <div class="control-group">
            <div class="countdown">
                Còn <span id="clock"></span>
            </div>
        </div>
        }
        else
        {
         <div class="control-group">
            <div class="countdown">
               Đấu giá đã kết thúc
            </div>
        </div>
        }

    </form>
<hr class="soft clr" />
<p>
    @Model.ProductDes
</p>
<a class="btn btn-small pull-right" href="#detail">Thông tin chi tiết</a>
<br class="clr" />
<a href="#" name="detail"></a>
<hr class="soft" />
</div>
<br class="clr">
@Html.Raw(Model.ProductHtmlDes);