@model auctionwebsite.Models.Product
@using auctionwebsite.Helpers
@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/home_layout.cshtml";
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html">Trang chủ</a> <span class="divider">/</span></li>
        <li><a href="products.html">Sản phẩm</a> <span class="divider">/</span></li>
        <li class="active">Chi tiết sản phẩm</li>
    </ul>

    <div class="row" id="grid">
        @{
            Html.RenderAction("LoadProduct");
        }

    </div>
</div>
          </div>

	</div>
</div>
</div> </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        // handle bidding
        $('#grid').on("click", "#bidButton", function (e) {
            swal({
                title: "Đấu giá sản phẩm",
                text: "Xác nhận đấu giá!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Đồng ý!",
                showLoaderOnConfirm: true,
                closeOnConfirm: false
            },
            function () {
                if ($("#bidPrice").val() > $("#ProductPrice").val() || $("#UserID").val() != '@Model.UserID')
                {
                    $.ajax({
                        url: '@Url.Action("Bidding")',
                        type: "post",
                        data: {
                            userid: $("#UserID").val(),
                            proid: $("#ProductID").val(),
                            price: $("#bidPrice").val()
                        }
                    })
              .done(function (result) {
                  $("#grid").html(result);
                  swal('Thành công', 'ABC ', "success");
                  $('#clock').countdown('@Model.ProductDateSold')
                  .on('update.countdown', function (event) {
                      var format = '%H:%M:%S';
                      if (event.offset.totalDays > 0) {
                          format = '%-d Ngày %!d ' + format;
                      }
                      if (event.offset.weeks > 0) {
                          format = '%-w Tuần %!w ' + format;
                      }
                      $(this).html(event.strftime(format));
                  })
                  .on('finish.countdown', function (event) {
                      $('#bidButton').prop('disabled', true);
                      $.ajax({
                          type: 'POST',
                          url: '@Url.Action("BidOver")',
                          data: {
                              proid: '@Model.ProductID'
                          },
                          success: function (data) {
                              $("#grid").html(data);
                          },
                          error: function (ex) {
                              alert("Fail " + ex.Message);
                          }
                       });
                     });
                  });
                }
                else {
                    swal('Lỗi phát sinh','Số tiền đấu giá không được nhỏ hơn số tiền hiện tại của sản phẩm ',"Error");
                }
            });
     







            @*if ($("#bidPrice").val() > $("#ProductPrice").val() || $("#UserID").val() != '@Model.UserID') {
                $.ajax({
                    url: '@Url.Action("Bidding")',
                    type: "post",
                    data: {
                        userid: $("#UserID").val(),
                        proid: $("#ProductID").val(),
                        price: $("#bidPrice").val()
                    }
                })
                .done(function (result) {
                    $("#grid").html(result);
                    $('#clock').countdown('@Model.ProductDateSold')
                    .on('update.countdown', function (event) {
                        var format = '%H:%M:%S';
                        if (event.offset.totalDays > 0) {
                            format = '%-d Ngày %!d ' + format;
                        }
                        if (event.offset.weeks > 0) {
                            format = '%-w Tuần %!w ' + format;
                        }
                        $(this).html(event.strftime(format));
                    })
                    .on('finish.countdown', function (event) {
                        $('#bidButton').prop('disabled', true);
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("BidOver")',
                            data: {
                                proid: '@Model.ProductID'
                            },
                            success: function (data) {
                                $("#grid").html(data);
                            },
                            error: function (ex) {
                                alert("Fail " + ex.Message);
                            }
                        });
                    });
                });
            } else {
                alert('Số tiền đấu giá không được nhỏ hơn số tiền hiện tại của sản phẩm ');
            }*@

        });
        // handle kick user
        $('#grid').on("click", "#deleteUser", function (e) {
            swal({
                title: "Xác nhận !",
                text: "Người dùng ngày sẽ không được phép đấu giá nữa!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Kick người dùng!",
                closeOnConfirm: false
            },
function () {
    $.ajax({
        url: '@Url.Action("KickUser")',
        type: "post",
        data: {
            userid: $("#deleteUser").data("id"),
            proid: $("#ProductID").val(),
              }
         })
             .done(function (result) {
                 $("#grid").html(result);
                 location.reload();
             });
        });
           
        });

        $('#LikeButton').click(function () {
            var temp = '@ViewBag.Count';
            if (temp == 0) {
                if (confirm('Bạn có muốn thêm sản phẩm vào danh mục ưa thích ?')) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Favorite")',
                        dataType: 'json',
                        data: {
                            userid: $("#UserID").val(),
                            proid: $("#ProductID").val()
                        },
                        success: function (data) {
                            if (data.Result == "OK") {
                                swal("Thành công!", "Thêm thành công", "success");
                            } else {
                                swal("Lỗi phát sinh!", "Đã tồn tại trong danh sách theo dõi", "warning");
                            }
                        },
                        error: function (ex) {
                            alert("Fail " + ex.Message);
                        }
                    });
                }
            } else {
                swal("Lỗi phát sinh!", "Đã tồn tại trong danh sách theo dõi", "warning");
            }

        });
        $('#UnLikeButton').click(function () {
            swal("Lỗi phát sinh!", "Bạn phải đăng nhập để thực hiện chức năng", "warning");
        });
        $('#unbidButton').click(function () {
            swal("Lỗi phát sinh!", "Bạn phải đăng nhập để thực hiện chức năng", "warning");
        });
        $('#unlograteLike').click(function () {
            swal("Lỗi phát sinh!", "Bạn phải đăng nhập để thực hiện chức năng", "warning");
        });
        $('#unlograteDisLike').click(function () {
            swal("Lỗi phát sinh!", "Bạn phải đăng nhập để thực hiện chức năng", "warning");
        });


        $('#grid').on("click", "#rateLike", function (e) {
            $.ajax({
                url: '@Url.Action("RateLikeUser","User")',
                type: "post",
                data: {
                    userid: $("#UserID").val(),
                    targetid: '@Model.UserID',
                    text: $("#inputTxt").val(),
                    proid: $("#ProductID").val()
                }
            })
                .done(function (data) {
                    if (data.Result == "Exist") {
                        alert("Bạn đã đánh giá tích cực người dùng này trước đây");
                    } else {
                        $("#grid").html(result);
                        location.reload();
                    }
                });
        });

        $('#grid').on("click", "#RateDisLikeUser", function (e) {
            $.ajax({
                url: '@Url.Action("RateDisLikeUser", "User")',
                type: "post",
                data: {
                    userid: $("#UserID").val(),
                    targetid: '@Model.UserID',
                    text: $("#inputDisLikeTxt").val(),
                    proid: $("#ProductID").val()
                }
            })
                .done(function (data) {
                    if (data.Result == "Exist") {
                        alert("Bạn đã đánh giá không tích cực người dùng này trước đây");
                    } else {
                        $("#grid").html(result);
                        location.reload();
                    }
                });
        });



        $('#clock').countdown('@Model.ProductDateSold')
         .on('update.countdown', function (event) {
             var format = '%H:%M:%S';
             if (event.offset.totalDays > 0) {
                 format = '%-d Ngày %!d ' + format;
             }
             if (event.offset.weeks > 0) {
                 format = '%-w Tuần %!w ' + format;
             }
             $(this).html(event.strftime(format));
         })
    .on('finish.countdown', function (event) {
        $('#bidButton').prop('disabled', true);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("BidOver")',
            data: {
                proid: '@Model.ProductID'
            },
            success: function (data) {
                $("#grid").html(data);
            },
            error: function (ex) {
                alert("Fail " + ex.Message);
            }
        });
    });


    });
    </script>
}
