@model PagedList.IPagedList<auctionwebsite.Models.Product>
@using auctionwebsite.Helpers
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/user_layout.cshtml";
}

<!DOCTYPE html>
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")">Trang chủ</a> <span class="divider">/</span></li>
        <li><a href="@Url.Action("Summary","User")">Tài khoản</a> <span class="divider">/</span></li>
        <li class="active">Sản phẩm của tôi đã đăng</li>
    </ul>
    </ul>
    <h3>Sản phẩm của tôi đã đăng[<small>@Model.Count() sản phẩm</small>]</h3>
    <hr class="soft"/>
    <form class="form-horizontal span6">
        <div class="control-group">
            <label class="control-label alignL">Sắp xếp</label>
            <select id="SortOrder" name="SortOrder" onchange="SelectionChanged()">
                <option value="0">Lựa chọn</option>
                <option value="1">Sản phẩm đã đăng</option>
                <option value="1">Sản phẩm đã xác nhận</option>
                <option value="2">Sản phẩm đã hủy</option>
                <option value="3">Sản phẩm đã có người mua</option>
            </select>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Chi tiết</th>
                <th>Người mua giá cao nhất</th>
                <th>Giá hiện tại</th>
                <th>Trạng thái</th>
                <th>Hủy đấu giá</th>
                <th>Chỉnh sửa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
              <tr>
                <td><a href="@Url.Action("Details", "Product", new { id = item.ProductID})"> <img width="60" src="~/Img/@(item.ProductID+"_"+item.ProductPicName)" alt="" /></a></td>
                <td>@item.ProductDes<br /></td>
                  @if(@item.Biddings.Where(p=>p.BidStatus != 0 && p.ProductBid == item.ProductPrice).Select(p=>p.User.UserName).Count()==0)
                  {
                      <td>Chưa có ai đấu giá</td>
                  }else{
                       <td>@item.Biddings.Where(p=>p.BidStatus != 0 && p.ProductBid == item.ProductPrice).Select(p=>p.User.UserName).ToString()</td>
                  } @*user highest price buy*@
               
                <td>@item.ProductPrice VNĐ</td>
                  @if(@item.ProductStatus == 0 )
                  {
                    <td>Đang chờ xác nhận</td>
                  }
                  @if (@item.ProductStatus == 1)
                  {
                      <td>Đang đấu giá</td>
                  }
                  @if (@item.ProductStatus == 2)
                  {
                      <td>Đấu giá thành công</td>
                  }
                  @if (@item.ProductStatus == 3)
                  {
                      <td>Đấu giá đã hủy</td>
                  }        
                <td><button><i class="icon-remove icon-white"></i></button>	</td>
                <td><a href="@Url.Action("Edit", "Product", new { id=item.ProductID})">Sửa</a></td>
            </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
</div></div>
</div>
@section Scripts
{
    <script type="text/javascript">

        function SelectionChanged()
        {
            var order = document.getElementById("SortOrder");
            var OrderValue = order.options[order.selectedIndex].value;
            var url = '@Html.Raw(Url.Action("Index", "Product", new { SortOrder ="para3"}))';
            url = url.replace("para3", OrderValue);
            window.location = url;
        }
    </script>
}